
<div class="grid fluid">
			<div class="row">
				<div class="span12 padding10">
					<div class="panel">
						<div class="panel-header">Welcome | About Ministry</div>
							<div class="panel-content">
								<p>The Ministry of Public Works and Housing is the arm of the Government responsible for all public works matters. The Ministry also performs project management functions with regard to all government and government-sponsored development projects nation-wide.</p>
								<p>The Ministry accomplishes its various functions with due regard for Government’s policies and strategic directions. The Ministry recognized that infrastructure and housing are fundamental to development and the achievement of the social goals of Government.</p>
								<p>The Ministry is also responsible for planning, designing, implementing, monitoring and coordinating development activities.</p>
							</div>
						</div>
				
					
				</div>
			</div>
		</div>

