<div class="row">
			<div class="span12 padding5">
				<div class="span3">
					
				<nav class="sidebar light">
    <ul>
        <li class="title">Admin Section</li>
        <li class="stick">
         <%= link_to(companies_path) do %>
           <i class="icon-new"></i> Dashboard
          <% end %>
        </li>
        <li class="stick"><a href="#"><i class="icon-newspaper"></i>Expired Certificates</a></li>
        <li class="stick"><a href="/pending_approve/list_all"><i class="icon-enter"></i>Pending To Approve</a></li>
    <li class="stick"><a href="#"><i class="icon-printer"></i>Print Actions</a></li>
    <li class="stick"><a href="/customer_lookups/search" class="element"><i class="icon-user-3"></i>Customers Lookup</a></li>
    </ul>
</nav>
					
				</div>
				<div class="span9">
					<div class="panel">
							<div class="panel-content">
									<%= render 'form' %>
                </div>
            </div>
          </div>
        </div>
      </div>